<!--  FOOTER  -->
<footer>
    <div class="row">
        <div class="small-12 columns">
            <div class="contacts">
                <div class="row">
                    <div class="small-12 large-3 medium-3 columns">
                        <i class="fa fa-map-marker"></i>
                        CAMBRIDGE, UK
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <i class="fa fa-flag"></i>
                        BOULDER, CO USA
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <a href=""><i class="fa fa-phone"></i></a>
                        SUPPORT
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <a href=""><i class="fa fa-envelope-o"></i></a>
                        CONTACT US
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="footerlinks">
                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>About Foundries.io</h2>
                    <p>
                        Foundries.io is changing the IoT landscape by delivering continuously
                        updated software platforms for a secure, connected world.
                    </p>
                </div>

                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                        <li><a href="{{ .Site.BaseURL }}">Careers</a></li>
                        <li><a href="https://support.foundries.io/">Support</a></li>
                        <li><a href="{{ .Site.BaseURL }}">Labs</a></li>
                    </ul>
                </div>

                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>Connect</h2>
                    <ul>
    	                <li><a href="https://twitter.com/foundriesio"><i class="fa fa-twitter fa-2x"></i></a>
    	                    <a href="https://www.facebook.com/foundriesio"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://github.com/opensourcefoundries"><i class="fa fa-github fa-2x"></i></a>
    	                    <a href="https://foundriesio.slack.com/join/shared_invite/enQtMjUwNzA1MTc4NzA4LTI2YTc4YjUyMTY2NWE3NTQxOTJjYjY3M2NkNTVmYjM2M2JhZGYzNDM1Mzk4MzkxMDI5ZWNhOWUzMWVlYmI4NDE"><i class="fa fa-slack fa-2x"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="small-12 large-3 medium-3 columns">
                    <h2>Get Started Today</h2>
                    <p>
                        Get immediate access to microPlatform source and binary builds for
                        today's most popular development boards by starting your evaluation subscription!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="copyright">Copyright 2018 Foundries.io All rights reserved</p>
</footer>
<!--  END OF FOOTER  -->
