<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/icons/favicon.png" />
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/foundation.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/morphext.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.carousel.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.theme.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.transitions.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/slicknav.css" />

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.default.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/code.less" />

  <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" />
</head>
