{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}js/vendor/jquery.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/what-input.min.js"></script>
<script src="{{ .Site.BaseURL }}js/foundation.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/hoverIntent.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/superfish.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/morphext.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/wow.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/jquery.slicknav.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/jquery.animateNumber.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/jquery.responsiveTabs.js"></script>
<!--<script src="{{ .Site.BaseURL }}js/vendor/retina.min.js"></script>-->
<script src="{{ .Site.BaseURL }}js/custom.js"></script>
<script>
jQuery(function($) {
    // ______________ TABS
    $('#responsiveTabsDemo').responsiveTabs({
    startCollapsed: 'accordion'
    });
});
</script>
