
<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

    {{ partial "head.html" . }}

<body>

<!--  HEADER -->
<header class="alt-6">

    {{ partial "navbar.html" . }}

    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>
                    <p>FOUNDRIES.IO INSIGHTS</p>
                    <span class="message-line"></span>
                </div>
                <h1 style="color: white">Foundries.io Labs</h1>
            </div>
        </div>
    </div>
</header>
<!--  END OF HEADER -->

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="small-12 large-12 medium-12 columns" id="labs-post">

                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

                    <div id="post-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
